<meta charset="utf-8">
<title>{{.Title | default site.Title}}</title>

<!-- counter page tracking -->
<script src="https://cdn.counter.dev/script.js" data-id="de0aaeca-b17d-45b7-9b1f-85b18c49ad42" data-utcoffset="2"></script>

<!-- responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

<!-- favicon -->
{{ partialCached "favicon" . }}

<!-- manifest -->
{{ partialCached "manifest" . }}

<!-- site verifications -->
{{ partialCached "site-verifications.html" . }}

<!-- opengraph and twitter card -->
{{ partial "basic-seo.html" . }}

<!-- google analytics -->
{{ template "_internal/google_analytics.html" . }}

<!-- google tag manager -->
{{ partialCached "gtm.html" . }}

<!-- matomo analytics -->
{{ partialCached "matomo-analytics.html" . }}

<!--  Baidu analytics -->
{{ partialCached "baidu-analytics.html" . }}

<!-- Plausible Analytics -->
{{ partialCached "plausible-analytics.html" . }}

<!-- Counter Analytics -->
{{ partialCached "counter-analytics.html" . }}